<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Firebase Chat
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exitChat()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="card">
    <div class="card-body">
      <ng-container *ngFor="let comment of comments">
        <ion-grid>
          <ion-row>

            <!-- current_user.idとcomment.user.uidが等しくない場合に表示-->
            <ion-col col-2 class="media-left" *ngIf="comment.user.uid !== current_user.uid">
              <a href="#" class="icon-rounded">{{ comment.initial }}</a>
            </ion-col>

            <ion-col class="media-body">
              <div>
                <h4 class="media-heading">{{ comment.user.name }} Date:2016/09/01</h4>
                <div>{{ comment.content }}</div>
              </div>
            </ion-col>

            <!-- current_user.idとcomment.user.uidが等しい場合に表示-->
            <ion-col col-2 class="media-right" *ngIf="comment.user.uid === current_user.uid">
              <a href="#" class="icon-rounded">{{ comment.initial }}</a>
            </ion-col>

            <hr>

          </ion-row>
        </ion-grid>
      </ng-container>
    </div>
  </section>
</ion-content>

<ion-footer>
  <form (submit)="addComment(content)">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]="content" name="comment" placeholder="Type a message"></ion-input>
        </ion-col>
        <ion-col col-2>
          <button ion-button type="submit">SEND</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
