<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Firebase Chat
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exitChat()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="card">
    <div class="card-body">
      <ng-container *ngFor="let comment of comments; let i = index">
        <ion-grid>
          <ion-row>

            <!-- current_user.idとcomment.user.uidが等しくない場合に表示-->
            <ion-col col-2 class="media-left" *ngIf="comment.user.uid !== current_user.uid">
              <a href="#" class="icon-rounded">{{ comment.initial }}</a>
            </ion-col>

            <ion-col class="media-body">
              <div>
                <h4 class="media-heading">
                  {{ comment.user.name }} Date:{{comment.date | date:'yyyy/MM/dd EEEE HH:mm:ss' }}
                  <button ion-button small (click)="toggleEditComment(i)">編集</button>
                  <button ion-button color="danger" small (click)="deleteComment(comment.key)">削除</button>
                </h4>
                <!-- edit_flagによって編集フィールドを切り替える -->
                <ng-container *ngIf="!comment.edit_flag">
                  {{ comment.content }}
                </ng-container>
                <ng-container *ngIf="comment.edit_flag">
                  <div class="input-group">
                    <ion-input type="text" [(ngModel)]="comment.content" name="edit_comment"></ion-input>
                  </div>
                  <div class="edit-buttons">
                      <button ion-button color="secondary" small (click)="saveEditComment(i, comment.key)">保存</button>
                      <button ion-button color="orange" small (click)="resetEditComment(i)">リセット</button>
                  </div>
                </ng-container>
                <!-- edit_flagによる切り替えここまで -->
              </div>
            </ion-col>

            <!-- current_user.idとcomment.user.uidが等しい場合に表示-->
            <ion-col col-2 class="media-right" *ngIf="comment.user.uid === current_user.uid">
              <a href="#" class="icon-rounded">{{ comment.initial }}</a>
            </ion-col>

            <hr>

          </ion-row>
        </ion-grid>
      </ng-container>
     
    </div>
  </section>
</ion-content>

<ion-footer>
  <form (submit)="addComment(content)">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]="content" name="comment" placeholder="Type a message"></ion-input>
        </ion-col>
        <ion-col col-2>
          <button ion-button type="submit">SEND</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
